<table>
  <tbody>
  <tr>
    <th>Add all messages to inbox</th>
    <td>
      <input type="checkbox" id="settings_inbox_all_messages"
             <% if settings['all_messages_inbox'] == 'on' %> checked <% end %>
             name="settings[all_messages_inbox]" />
    </td>
  </tr>
  </tbody>
</table>
